#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* ====== NAVBAR ====== */
nav{
  width: 100%;
  height: 60px;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

nav img{
  height: 60px;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin: 0;
}

nav ul a{
  color: #23293a;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list-movies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  position: relative;
  width: 220px;
  height: 330px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #262626;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Incluez le padding et la bordure dans la largeur/hauteur totale */
  transition: all .3s ease;
}

.movie-card .content-card{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .movie-card {
    width: 170px;
    height: auto;
  }
}

.movie-card:hover{
  cursor: pointer;
  
  transform: scale(1.1);
  background-color: #88888828;
  transition: all .3s ease;
}

.movie-card:hover > img {
  
  transition: all .3s ease;
}

.movie-card img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  filter: brightness(0.7);
  transition: all .3s ease;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limitez le titre à deux lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-wrap: inherit;
}

.movie-overview {
  font-size: 14px;
  margin-bottom: 8px;
}

.movie-rating {
  display: flex;
  align-items: center;
  font-size: 16px;
}

/* Favourite icon */
.favourite-icon{
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 20px;
  color: white;
  transition: all .3s ease;
  background-color: transparent;
  border: none;
}

.favourite-icon:hover{
  transform: scale(1.3);
  color: rgb(255, 145, 163);
  transition: all .3s ease;
}

.favourite-icon.active{
  color: rgb(255, 145, 163);
  transition: all .3s ease;
}


.star {
  color: gold;
  margin-right: 4px;
}


/* ==== SEARCH FORM ==== */
form.search-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form.search-form input[type="text"]{
  background-color: transparent;
  outline: none;
  border: solid 1px #262626;
  border-radius: 8px;
  padding: 5px;
  margin-left: 10px;
  color: #262626;
}

form.search-form button{
  border: none;
  background: transparent;
  color: #262626;
}

form.search-form button:hover{
  cursor: pointer;
  border: none;
}


/* ======== LOGIN PAGE ======== */
.login-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-container label {
  display: block;
  margin-bottom: 8px;
}

.login-container input {
  width: 100%;
  padding: 8px;
  background-color: transparent;
  color: #23293a;
  border-radius: 8px;
  margin-bottom: 16px;
}

.login-container button {
  background-color: #23293a;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: all .3s ease;
}

.login-container button:hover {
  background-color: #23293adf;
  transition: all .3s ease;
}

/* ======== END LOGIN PAGE ======== */ 

.logout-btn{
  background-color: transparent;
  color: #b51717;
  padding: 0;
  border: none;
}